<!DOCTYPE html>
<html>
  <head>
    <meta charset=UTF-8>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= context.title %>",</title>
    <base href="/">
    <script src="https://use.fontawesome.com/170c0c48a2.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css">
  </head>
  <body>

    <app>
      Loading...
    </app>

    <script src="/polyfills.bundle.js"></script>
    <script src="/vendor.bundle.js"></script>
    <script src="/main.bundle.js"></script>

  </body>
</html>
